on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: ensure_no_std

jobs:
  build-no-std:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          target: thumbv7em-none-eabihf
      - uses: Swatinem/rust-cache@v2
      - run: cargo build --manifest-path ensure_no_std/Cargo.toml
